<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->
<title>Yunkyeong Kang | Engineering Biology</title>
<meta name="description" content="M.S. student @Korea Institute of Science and Technology(KAIST)">

<!-- Setup Google Analytics -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-K3DZ3SH4CX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-K3DZ3SH4CX');
</script>

<!-- You can set your favicon here -->
<link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}"

<!-- end custom head snippets -->
